body {
    background-image: url(pics/02_tile.gif);
    background-size: cover;
    

}

* {
    padding-left: 1px;
    color: gray;
}

div {
    background-color: #f5f5f585;
}

a:hover {
    text-decoration: underline;
    color: black;
}

#thecnt {
    margin: auto;
    margin-top: 50px;
    height: 500px;
    width: 900px;
    border: 2px solid gray;
}

#cnt1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

#size {
    width: 40px;
    height: 40px;
}

a {
    text-decoration: none;
}

.item {
    background-color: #f5f5f585;
    border-right: 2px solid gray;
    border-bottom: 2px solid gray;
    text-align: center;
    padding-top: 12px;
}

#item {
    background-color: #f5f5f585;
    border-right: 2px solid gray;
    border-bottom: 2px solid gray;
    text-align: center;

}

#itemslec {
    background-color: dimgray;
}

#slec {
    color: aliceblue;
}

#item1 {
    border-right: 2px solid gray;
    border-bottom: 2px solid gray;
    width: 400px;
}

#last {
    border-right: none;
}

#cnt2 {
    width: 795px;
    margin: auto;
    margin-top: 5px;
}

#pic {
    width: 200px;
    height: 266px;
}

.shortline {
    line-height: 1px;
    padding-left:5px;
}

#inline1 {
    width: 27%;
    float: left;
    height: 100px;
    ;
}

#inline2 {
    width: 72%;
    float: left;
    
}

#scoop {
    border-radius: 5px;
    border: 2px solid;
    padding: 2px;
    padding-top: 15px;
    padding-left: 10px;
    height:100;
}
p{
    line-height: 7px;
}
